---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Hey I'm Ben Demaj</h1>
      <h2 class="text-md mb-4 sm:text-lg">
        a student based in &#x1F588;Vienna
      </h2>
      <p class="text-justify">
        I am an Austrian developer interested in Hardware and Software
        Engineering. Currently I am serving my mandatory service
        <LinkButton href="https://bundesheer.at" target="_blank">@bundesheer</LinkButton>
         as a paramedic. After finishing my duties, I plan to study Electrical
        Engineering
        <LinkButton className="hover:text-skin-accent" href="https://tuwien.at">
          @tuwien.
        </LinkButton>
         Outside of work I like to make music and write short stories.
      </p>
      <p>
        For more details of what I am doing <a href="#now">[now]</a>
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && <Socials />
      }
    </section>

    <Hr />

    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts
            .filter(({ data }) => !data.featured)
            .map(
              ({ data }, index) =>
                index < 3 && (
                  <Card
                    href={`/posts/${slugify(data)}`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )
        }
      </ul>
      <div class="flex justify-between">
        <LinkButton className="text-skin-base" href="/tags">[Tags]</LinkButton>
        <LinkButton className="text-skin-base" href="/posts">[All Posts]</LinkButton>
      </div>
    </section>
    <Hr />

    <section id="now">
      <div class="mb-5">
        <h2>What I'm Doing Now</h2>
        <p>
          inspired by <LinkButton href="https://sive.rs/now" target="_blank">
            Derek Sivers
          </LinkButton>
        </p>
      </div>

      <p class="mb-5">
        📚Currently reading: <LinkButton
          href="https://www.amazon.de/Clockwork-Orange-Fremdsprachentexte-Reclams-Universal-Bibliothek/dp/3150198976/ref=sr_1_1?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=OKEHCQGFVN5A&keywords=clockwork+orange+reclam&qid=1702767243&sprefix=clockwork+orange+reclam%2Caps%2C201&sr=8-1"
          target="_blank"
        >
          A Clockwork Orange by Anthony Burgess
        </LinkButton>
      </p>
      <div class="mb-5">
        <h2 class="mb-2">Priorities</h2>
        <div class="grid grid-rows-1 gap-4 text-justify">
          <p>
            <span class="font-semibold text-skin-accent"
              >Finish mandatory service.<br /></span
            > I want to finish my 6-month mandatory service at the Austrian
            Armed Forces as a trained paramedic and in good health.
          </p>
          <p>
            <span class="font-semibold text-skin-accent"
              >Becoming an Engineer.<br /></span
            > Trying to secure an internship at an engineering company, working
            in the field of robotics, ai and software development. Maybe live in
            a different city for work and gain experience on working in tech and
            social interactions.
          </p>
          <p>
            <span class="font-semibold text-skin-accent"
              >Get more fit and athletic.<br /></span
            > Hit the gym more often and build strength and duration. Try out
            some martial arts and start rowing.
          </p>
        </div>
      </div>
      <p class="italic">Last updated on 10th December, before going to sleep</p>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-semibold sm:my-2 sm:text-4xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-right;
  }

  #now {
    @apply pb-6 pt-12;
  }
  #now h2,
  #now h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
</style>
