---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  label: string;
};

const { label, ...props } = Astro.props;
---

<a
  href={props.href}
  
  {...props}
  rel="noreferrer"
>
  {label}
  <span class="sr-only">{label} link</span>
</a>

<style>
  a {
    @apply hover:text-skin-accent
  }
</style>
