---
import { SOCIALS } from "@config";
import LinkButton from "./LinkButton.astro";
import socialIcons from "@assets/socialIcons";
import Link from "./Link.astro";

export interface Props {
  centered?: boolean;
}

const { centered = false } = Astro.props;
---

<ul role="list" class="flex flex-row gap-2">
  {
    SOCIALS.map((social, index) => (
      <>
        <li>
          <Link href={social.href} label={social.name} target={"_blank"} />
        </li>
        {SOCIALS.length - 1 !== index && <li>/</li>}
        
      </>
      
    ))
  }
</ul>
